@using BigModelBinding.Models
@model EnrollmentService

<div>
    @Html.ValidationSummary()
</div>

@using (Html.BeginForm())
{
<div>
    @Html.LabelFor(p => p.Provider.Name)
    @Html.EditorFor(p => p.Provider.Name)
</div>
<div>
    @Html.LabelFor(p => p.ProviderId)
    @Html.EditorFor(p => p.ProviderId)
</div>
    <input type="submit" />
}