@using BigViews
@model User

<div class="contact-card">
    <strong>@Model.FirstName @Model.LastName</strong>
    <br /><br />
    @Html.LabelFor(Model => Model.HomePhone);
    <b>@Model.HomePhone</b>
    <br /><br />

    @Html.LabelFor(Model => Model.Mobile)
    <b>@Model.Mobile</b>
    <br /><br />

    @Html.LabelFor(Model => Model.MailId)
    <b>@Model.MailId</b>
    <br /><br />

    @Html.LabelFor(Model => Model.CurrentJob)
    <b>@Model.CurrentJob</b>
    <br /><br />

    @Html.LabelFor(Model => Model.PastJobs)
    @Html.ListBoxFor(Model => Model.PastJobs, (IEnumerable<SelectListItem>)ViewBag.PastJobs) <br /><br />

    @Html.ActionLink("Edit", "Edit", new { user = Model })
</div>