@using BigViews
@addTagHelper *, Microsoft.AspNet.Mvc.TagHelpers
@model User

<div class="contact-card">
    <strong>@Model.FirstName @Model.LastName</strong>
    <br />

    <label asp-for="HomePhone"></label>
    <b id="@Html.IdFor(m => m.HomePhone)">@Model.HomePhone</b>
    <br />

    <label asp-for="Mobile"></label>
    <b id="@Html.IdFor(m => m.Mobile)">@Model.Mobile</b>
    <br />

    <label asp-for="MailId"></label>
    <b id="@Html.IdFor(m => m.MailId)">@Model.MailId</b>
    <br />

    <label asp-for="CurrentJob"></label>
    <b id="@Html.IdFor(m => m.CurrentJob)">@Model.CurrentJob</b>
    <br />

    <label asp-for="PastJobs"></label>
    <br />
    <select asp-for="PastJobs" asp-items="BigViews.User.PastJobSelections" disabled="disabled"></select>
    <br />

    <a asp-action="Edit" asp-controller="Home" asp-route-id="@Model.MailId">Edit</a>
</div>