@model PostedFiles
<html>
<body>
    <section>
        @if (Model != null)
        {
            <ul>
                <li>@Model.File1?.ContentType</li>
                <li>@Model.File2?.ContentType</li>
                <li>@Model.File3?.ContentType</li>
            </ul>
        }
    </section>
    <section>
        <h2>HtmlHelpers</h2>
        @using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
        {
            <p>@Html.EditorFor(m => m.File1)</p>
            <p>@Html.EditorFor(m => m.File2)</p>
            <p>@Html.EditorFor(m => m.File3)</p>
            <p><input type="submit" /></p>
        }
    </section>
    <section>
        <h2>TagHelpers</h2>
        <asp:form enctype="multipart/form-data" asp-action="Home">
            <p><asp:input asp-for="File1" /></p>
            <p><asp:input asp-for="File2" /></p>
            <p><asp:input asp-for="File3" /></p>
            <p><input type="submit" /></p>
        </asp:form>
    </section>
</body>
</html>